In [1]:
import pandas as pd

url= "https://docs.google.com/spreadsheets/d/e/2PACX-1vT_jChgNsQbHbg4TGepzIqk8XC9DTIKmyyxb1upo5cfZCgbfIUQc2ZC0YMzuU5uApP140Ob49KBjdqh/pub?gid=1198589591&single=true&output=csv"
df= pd.read_csv(url)
df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [8]:
df['date']=pd.to_datetime(df['date'], format='%Y%m%d')

In [9]:
df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...,...
15336,2020-12-27,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
15337,2020-12-28,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
15338,2020-12-29,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
15339,2020-12-30,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
15340,2020-12-31,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [10]:
df = df.set_index('date')
df

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
1979-01-03,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
1979-01-04,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
1979-01-05,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0
...,...,...,...,...,...,...,...,...,...
2020-12-27,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
2020-12-28,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
2020-12-29,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
2020-12-30,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
2020-12-31,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [15]:
df= df.loc['2000':'2020']

In [16]:
df

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
2000-01-01,7.0,0.4,18.0,10.8,7.0,4.9,0.0,102450.0,0.0
2000-01-02,7.0,0.7,20.0,11.5,7.9,5.0,0.2,102530.0,0.0
2000-01-03,8.0,0.0,13.0,9.5,9.4,7.2,6.0,101860.0,0.0
2000-01-04,5.0,2.9,34.0,11.0,7.0,4.4,0.2,101480.0,0.0
2000-01-05,5.0,1.3,25.0,10.8,6.4,1.9,0.8,101420.0,0.0
...,...,...,...,...,...,...,...,...,...
2020-12-27,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN
2020-12-28,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN
2020-12-29,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN
2020-12-30,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN
2020-12-31,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN

In [24]:
df= df.drop(['cloud_cover', 'sunshine', 'global_radiation','pressure'], axis= 1)
df

            max_temp  mean_temp  min_temp  precipitation  snow_depth
date
2000-01-01      10.8        7.0       4.9            0.0         0.0
2000-01-02      11.5        7.9       5.0            0.2         0.0
2000-01-03       9.5        9.4       7.2            6.0         0.0
2000-01-04      11.0        7.0       4.4            0.2         0.0
2000-01-05      10.8        6.4       1.9            0.8         0.0
...              ...        ...       ...            ...         ...
2020-12-27       7.5        7.5       7.6            2.0         NaN
2020-12-28       3.6        1.1      -1.3            0.2         NaN
2020-12-29       4.1        2.6       1.1            0.0         NaN
2020-12-30       5.6        2.7      -0.1            0.0         NaN
2020-12-31       1.5       -0.8      -3.1            0.0         NaN

[7671 rows x 5 columns]

In [34]:
#a) "The lowest temperature of {max temp} degrees occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

max_temp= df['max_temp'].idxmax()
min_temp= df['min_temp'].idxmin()
print(f"The lowest temperature of {min_temp} degrees occured on {min_temp.strftime('%B %d, %Y')}")

The lowest temperature of 2010-12-20 00:00:00 degrees occured on December 20, 2010

In [42]:
#b) "The highest daily precipitation of {max preciptation} inches occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

max_prec= df['precipitation'].idxmax()
min_prec= df['precipitation'].idxmin()
print(f"The highest daily preciptation was {max_prec} inches, which occured on {max_prec.strftime('%B %d, %Y')} which was a {max_prec.day_name()}.")

The highest daily preciptation was 2015-08-26 00:00:00 inches, which occured on August 26, 2015 which was a Wednesday.